{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}Nueva pelicula{% endblock %}

{% block content %}
<style>
    .form-box {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 450px;
        height: auto;
        margin-top: 5rem;
        margin-bottom: 5rem;
        background-color: black;
        color: white;
        padding: 20px;
        border-radius: 5px;
    }


    .bott{
        margin-top: 1rem;
    }

    .form-box label{
        margin: 5px;
    }

    /* Dropdown Button */
    .dropbtn {
        background-color: black;
        color: rgb(242, 199, 199);
        padding: 4px;
        border: none;
        }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        display: inline-block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: #ddd;}

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {display: block;}

    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {background-color: #3e8e41;}

</style>



<form action="{% url 'peliculasApp:nueva_pelicula' %}" method="post" enctype="multipart/form-data">
    <div class="container-fluid form-box"> 
    {% csrf_token %}
    <label for="titulo">Titulo</label>
    {{ form.titulo }}
    <label for="sinopsis">Sinopsis</label>
    {{ form.sinopsis }}
    <label for="anio">Anio</label>
    {{ form.anio }}
    <label for="genero">Genero</label>
    {{ form.genero }}
    <label for="imagen">Imagen</label>
    {{ form.imagen|attr:'input type="file"' }}

    <input type="submit" value="Submit" class="btn btn-primary bott">
    </div>
</form>



{% endblock %}