{% extends "base.html" %}
{% block title %}Peliculas{% endblock %}





{% block content %}


<!-- ESTILOS  -->
<style>
    .pelicula {
        margin: 2.5rem;
        color: white;
    }

    .title-bx{
        padding: 8px;
        font-size: 18px;
        display: flex;
    }

    /* Dropdown Button */
    .dropbtn {
        background-color: black;
        color: rgb(242, 199, 199);
        padding: 4px;
        border: none;
        }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        display: inline-block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: #ddd;}

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {display: block;}

    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {background-color: #3e8e41;}

</style>




<!-- CONTENIDO PRINCIPAL (PELICULAS..)  -->
<div class="container-fluid">
    {% if pelicula_genero %}
        <div class="container-fluid d-flex justify-content-center"> 
            <h3> Estas son las peliculas del genero {{pelicula_genero|title}}: </h3>
        </div>
    {% endif %}
    {% for pelicula in object_list %}
    <section class="centered d-inline-flex"> 
        <div class="card pelicula" style="width: 18rem;">
            <img src="{{pelicula.imagen.url}}" class="card-img-top" alt="portada" style="height: 400px;">
            <div class="card-body" style="background-color:  #606060;">
              <h5 class="card-title title-bx">{{pelicula.titulo}}<span class="material-symbols-outlined" style="width: 50px; margin-left: 0.5rem;"><a href="{% url 'peliculasApp:pelicula_detail' pk=pelicula.id %}" style="text-decoration: none; color: white;">visibility</a></span></h5>
            </div>
        </div>
    </section>
    {% empty %}
    <h3>No se ha encontrado ninguna pelicula con tu solicitud :( </h3>
    {% endfor %}
</div>






<!-- PAGINADOR  -->
<div> 
    {% include 'paginador.html' %}    
</div>




{% endblock %}