{% extends "base.html" %}
{% block title %}Peliculas detail{% endblock %}
{% block content %}

<style> 
    .container-box {
        display: flex;
        background-color: #ededed;
        height: auto;
        margin: 2rem 2rem 0 2rem; 
        padding: 2rem;
        border-radius: 8px;
    }


    .container-2 {
        margin-left:2rem;
    }

    .container-box-2 {
        display: flex;
        background-color: #ededed;
        height: auto;
        margin: 2rem 2rem 0 2rem; 
        padding: 1rem 2.5rem 0 2rem;
        
    }

    .container-box-2 h2 {
        font-size: 18.5px;
        text-align-last: right;
    }

    /* Dropdown Button */
    .dropbtn {
    background-color: black;
    color: rgb(242, 199, 199);
    padding: 4px;
    border: none;
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
    position: relative;
    display: inline-block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: #ddd;}

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {display: block;}

    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {background-color: #3e8e41;}

</style>

<section style="display: inline-flex;"> 
<div class="container-box">
    <img src="{{pelicula.imagen.url}}" style="width: 286px; height: 346px; border-radius: 8px;">
    <div class="container-2">
        <h1>{{pelicula.titulo}}</h1>
        <p>{{pelicula.sinopsis}}</p>
        <h2>Genero: {{pelicula.genero}}</h2>
        <h3>Estado: {{pelicula.status|title}}</h3>
    </div>
</div>

<div class="container-box-2">
    
        <h2>ULTIMAS PELICULAS</h2>
    
</div>
</section>


{% endblock %}