{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static './css/base.css' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>
  <title>{% block title %}Peliculas{% endblock %}</title>

</head>



<body>

  <!-- NAVBAR CON BOOTSTRAP -->
  <nav>
    <ul style="align-items: center;">
      <li>
        <a href="{% url 'peliculasApp:pelicula_list' %}">Pelis</a>
      </li>
      <div class="dropdown">
        <button class="dropbtn">Generos<span class="material-symbols-outlined" style="vertical-align: bottom;">
          arrow_drop_down
          </span></button>
        <div class="dropdown-content">
          <a href="{% url 'peliculas:pelicula_genero' 'accion' %}">Accion</a>
          <a href="{% url 'peliculas:pelicula_genero' 'aventura' %}">Aventura</a>
          <a href="{% url 'peliculas:pelicula_genero' 'animacion' %}">Animacion</a>
          <a href="{% url 'peliculas:pelicula_genero' 'drama' %}">Drama</a>
          <a href="{% url 'peliculas:pelicula_genero' 'ciencia ficcion' %}">Ciencia Ficcion</a>
          <a href="{% url 'peliculas:pelicula_genero' 'terror' %}">Terror</a>
          <a href="{% url 'peliculas:pelicula_genero' 'misterio' %}">Misterio</a>
        </div>
      </div>
      {% if user.is_authenticated %}
      <li>
        <a href="{% url 'peliculasApp:nueva_pelicula' %}">Nueva pelicula<span class="material-symbols-outlined" style="position:absolute;">add</span></a>
      </li>
      {% endif %}
    </ul>
    <form method="get" class="input-box-nav" action="{% url 'peliculasApp:buscar_pelicula' %}">
      {% csrf_token %}
      <input type="text" name="q" id="input-box-nav" placeholder="Buscar pelicula..." value={{ request.GET.q }}>
      <input type="submit" name="boton-buscador" class="submit" value="Buscar"> 
    </form>
    <div class="button-nav" style="margin-right:1rem;">
      {% if user.is_authenticated %}
      <div class="d-flex"> 
      <h2 style="color:white; margin-right: 1rem;">Hola {{ user.username|title }} </h2>
      <button class="btn btn-outline-success"><a href="{% url 'logout' %}" style="text-decoration:none; color:white;"> Salir  </a></button>
      </div>
      {% else %}
      <button class="btn btn-outline-success"><a href="{% url 'login' %}" style="text-decoration:none; color:white;"> Ingresar  </a></button>
      <button class="btn btn-outline-success"><a href="{% url 'peliculasApp:registrarse' %}" style="text-decoration:none; color:white;">Registro  </a></button>
      {% endif %}
    </div>
  </nav>

  <!-- CONTENIDO PRINCIPAL DE LA PAGINA -->
  
  {% block content %} 
  {% endblock %}
  
  

  <!-- Footer -->
  <footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Peliculas
            </h6>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat, vero!
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Products
            </h6>
            <p>
              <a href="#!" class="text-reset">Lorem ipsum dolor sit amet.</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Lorem ipsum dolor sit amet.</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Lorem ipsum dolor sit amet.</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Lorem ipsum dolor sit amet.</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="#!" class="text-reset">Lorem </a>
            </p>
            <p>
              <a href="#!" class="text-reset">Lorem </a>
            </p>
            <p>
              <a href="#!" class="text-reset">Lorem </a>
            </p>
            <p>
              <a href="#!" class="text-reset">Lorem </a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3"></i> Lorem ipsum dolor sit amet.</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              Lorem ipsum dolor sit amet.
            </p>
            <p><i class="fas fa-phone me-3"></i> Lorem ipsum dolor sit amet.</p>
            <p><i class="fas fa-print me-3"></i> Lorem ipsum dolor sit amet.</p>
          </div>
          <!-- Grid column -->
        </div>
      </div>
    </section>
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2022 Copyright
    </div>
  </footer>
</body>

</html>